body{
    position: relative;
    left: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: #ecf0f1;
}
.menu{
    background-color: #d35400;
    height: 100%;
    left: -285px;
    position: fixed;
    width: 285px;
}
.menu ul {
  border-top: 1px solid #e67e22;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  border-bottom: 1px solid #e67e22;
  font-family: 'Montserrat', sans-serif;
  line-height: 20px;
  padding-bottom: 3px;
  padding-top: 3px;
    padding-left: 30px;
}
.menu a {
  color: #ecf0f1;
  font-size: 15px;
  text-decoration: none;
  text-transform: uppercase;
}
.menu li:hover{
    background-color: #22313F;
}
i{
    font-style: normal;
    margin: 8px;
}
.content{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #34495e;
}
.content-top{
    height:300px;
    background-color: #22313F;
}
.menu-icon-close{
    width: 50px;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: #ecf0f1;
    cursor: pointer;
    -webkit-transition: color 0.3s linear;
    -moz-transition: color 0.3s linear;
    -o-transition: color 0.3s linear;
    transition: color 0.3s linear;
}
.menu-icon-close:hover{
    color: #22313F;
}
#spock{
    color: #95a5a6;
    cursor: pointer;
    -webkit-animation: animate_bg 1s;
    animation: animate_bg 1s;
    -webkit-animation-iteration-count: 3;
    animation-iteration-count: 3;
}
@keyframes animate_bg {
    0%   {color:#95a5a6;}
    50%  {color:#ecf0f1;}
    100% {color:#95a5a6;}
}

@-webkit-keyframes animate_bg {
    0%   {color:#95a5a6;}
    50%  {color:#ecf0f1;}
    100% {color:#95a5a6;}
}
#spock:hover{
    color: #ecf0f1;
}
.content-top-spock{
    width: 65px;
}
.content-small-image{
    background: #d35400;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -114px;
    height: 200px;
    border-radius: 200px;
    border-color:#ecf0f1;
    border-style: solid;
    border-width: 9px;
    box-shadow:
        0 0 0 10px #22313F;
    -webkit-transition: box-shadow 0.5s ease-out;
    -moz-transition: box-shadow 0.5s ease-out;
    -o-transition: box-shadow 0.5s ease-out;
    transition: box-shadow 0.5s ease-out;
}
.content-small-image:hover{
    box-shadow:
        0 0 0 10px #d35400;
}/*
.content-small-image-layer {
    text-align: center;
    background: #ecf0f1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: -216px;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    top: 0;
    left: 0;
}

.content-layer-caption {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}*/
